@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	height: 10000px;
}

.banner {
	background: radial-gradient(circle, rgba(0,72,87,1) 0%, rgba(6,6,56,1) 35%, rgba(2,0,36,1) 100%);
}

.nav-contact-btn div {
	height: 0px;
	width: 0;
	transition: 0.3s;
}

.nav-contact-btn:hover div {
	height: 100px;
	width: 110px;
}

.nav-contact-btn:hover a {
	color: white;
}

nav li div {
	width: 0;
	height: 3px;
	transition: 0.3s;
}

nav li {
	cursor: pointer;
}

nav li:hover div {
	width: 100%;
	
}

nav li:hover a {
	color: rgb(8 145 178);
}

nav * {
	transition: 0.3s;
}

.rfm-marquee-container:first-child {
	width: 100vw;
}

.rfm-marquee-container:nth-child(2) {
	width: 100%;
}

@media (max-width: 1230px) {
	.hero-tile-y {
		display: flex;
	}	
	.hero-tile-x {
		display: none;
	}
}

@media (max-width: 754px) {
	.sm-hero-tile-x{
		display: none;
	}

	.sm-hero-tile-y {
		display: flex;
	}
}